@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Bitcount+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Storm&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family:
    "Baloo Bhai 2", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
.wrapper-one  {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent; */
  color: rgb(36, 50, 54);
}
.wrapper-one nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.wrapper-one nav ul a {
  color: rgb(44, 25, 25);
  text-decoration: none;
}
.wrapper-one nav ul a:hover {
  color: rgb(36, 85, 77);
}
.wrapper-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  text-align: center;
background-image:     linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url(https://backiee.com/static/wallpapers/1000x563/155830.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.wrapper-two h2 {
  color: aqua;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.wrapper-two p {
  text-transform: uppercase;
  font-weight: 400;
  color: #768ebb;
  margin: 0 0 90px;
}
.wrapper-two .btn {
  border-radius: 10%;
  background-color: transparent;
  box-shadow: 2px 2px 4px black;
  color: white;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.72, 0.77);
}
.wrapper-two .btn:hover {
  color: black;
}
.wrapper-three {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 1.4rem;
  width: 100%;
  background-color: black;
  color: white;
}
.wrapper-three a {
  
  color: aqua;
  text-decoration: none;
}